* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F3FAFF;
    list-style: none;
}

:root {
    --main-color: #16191d;
    --secondary-color: #12171c;
    --font-color: #F3FAFF;
}

body {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    /* background-image: url(https://www.bungie.net/common/destiny2_content/screenshots/2842471112.jpg);
    background-size: contain;
    background-repeat: no-repeat; */
}



.burger-menu {
    position: relative;
    width: 26px;
    height: 4px;
    background-color: var(--font-color);
    border-radius: 8px;
    z-index: 2;
    transition: 0.5s;
    margin-top: 24px;
    margin-left: 15px;
}

.burger-menu:before,
.burger-menu:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background-color: var(--font-color);
    border-radius: 8px;
    transition: 0.5s;
}

.burger-menu:before {
    top: -10px;
    width: 26px;
}

.burger-menu:after {
    top: 10px;
    width: 26px;
}

.toggle-btn {
    position: absolute;
    width: 30px;
    height: auto;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
 .navlink-container input:checked ~ .burger-menu {
    background-color: transparent;
 }

 .navlink-container input:checked ~ .burger-menu:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
 }

 .navlink-container input:checked ~ .burger-menu:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
 }

 .navlink-container input:checked ~ .ul-navbar {
    left: 0;
 } 

.ul-navbar {
    padding-left: 5vw;
    background-color: var(--secondary-color);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: -70vw;
    width: 70vw;
    height: auto;
    background: linear-gradient(#12171c, #1e2227);
}

.li-navbar {
    padding: 20px 20px;
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin: 5vw;
}

.back-img {
    width: 100%;
    margin-top: 30px;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
}

.doctrine-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.doctrine-img {
    width: 80px;
}

.title-class {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.ul-ability-class {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.li-ability-class {
    display: flex;
    flex-direction: column;
    font-size: large;
}

.all-grenade {
    display: flex;
    flex-direction: row;
}

.ul-grenade {
    display: flex;
    flex-direction: column;
}

.grenade-img {
    width: 55px;
    padding-left: 5px;
    margin-bottom: -5px;
    /* filter: contrast(80%); */
}

.gre-container {
    display: flex;
    flex-direction: column;
    background-color: #3a1f58;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 20px;
    opacity: 85%;
    border: #6f0ce0 solid 2px;
}

.grenade-name {
    padding-bottom: 10px;
}


footer {
    background-color: var(--secondary-color);
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    margin-top: 20px;
}

/* Mobile, tablette version */

@media screen and (min-width: 768px) {
    .burger-menu, .toggle-btn {
        display: none;
    }

    body {
        min-height: 100vh;
    }

        .ul-navbar {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40px;
        padding-left: 2vw;
        background-color: var(--secondary-color);
        opacity: 80%;
        box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
        font-size: 0.8em;
        left: 0;
    }
}

/* Desktop version */

@media screen and (min-width: 1024px) {
    .ul-navbar li a:hover {
        color: #E59D23;
        background-color: var(--main-color)
    }
}